In [20]:
# Imports
import numpy as np
import pandas as pd
import sklearn.metrics as skm
from statsmodels.tsa.vector_ar.var_model import VAR

In [21]:
# Define your path
path = "/Users/joche/Documents/GitHub/GVAR_modeling/"

# Data preperation

In [23]:
# Import all data for different variables
variable_list = ['GDP', 'CPI','long_int','short_int','exch_rate']
df_variable = pd.read_excel(path + "Variable_data.xlsx",index_col=0, sheet_name=variable_list)

# Transformating the data
df_variable['GDP'] = np.log(df_variable['GDP'] / df_variable['exch_rate'])
df_variable['CPI'] = np.log(df_variable['CPI'])
df_variable['long_int'] = np.log(1+ df_variable['long_int'])
df_variable['short_int'] = np.log(1+ df_variable['short_int'])
df_variable['exch_rate'] = np.log(df_variable['exch_rate']) - np.log(df_variable['CPI'])

In [26]:
# Example of the data of GDP
df_variable['GDP']

,1996-01-01,1996-02-01,1996-03-01,1996-04-01,1996-05-01,1996-06-01,1996-07-01,1996-08-01,1996-09-01,1996-10-01,...,2022-03-01,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01
GDP,,,,,,,,,,,,,,,,,,,,,
Australia,11.040280,11.064853,11.082217,11.107659,11.125689,11.120067,11.114817,11.109934,11.128815,11.131983,...,11.814654,11.825093,11.767084,11.759283,11.733756,11.759923,11.731444,11.688272,11.710643,11.719412
Brazil,10.993685,10.997053,10.990258,10.993652,10.988173,10.996125,10.999441,11.014788,11.014333,11.000463,...,9.994425,10.040502,9.963721,9.903814,9.843156,9.928833,9.950566,9.951288,9.901643,9.826711
Canada,11.189767,11.185440,11.195648,11.205897,11.201347,11.203722,11.205464,11.206956,11.209194,11.227841,...,11.861769,11.873451,11.853119,11.863230,11.856651,11.856941,11.826465,11.797347,11.813233,11.807442
France,12.035978,12.023878,12.024850,12.012915,12.001098,12.001884,12.015199,12.028701,12.016958,12.006448,...,12.245669,12.237675,12.205528,12.204230,12.172422,12.162729,12.143731,12.134758,12.175258,12.217183
Germany,12.371518,12.376405,12.368023,12.359770,12.351159,12.353988,12.367378,12.379400,12.366232,12.356600,...,12.520137,12.508903,12.479645,12.483072,12.453442,12.442234,12.420098,12.408521,12.447779,12.489315
Italy,11.886536,11.898617,11.898428,11.898240,11.910496,11.910393,11.922968,11.935706,11.922743,11.922081,...,11.915477,11.908809,11.880033,11.882129,11.851699,11.841090,11.820374,11.810404,11.851152,11.894098
Japan,12.809187,12.814992,12.818884,12.808200,12.821718,12.801664,12.796999,12.809382,12.790627,12.771737,...,12.857597,12.799389,12.779197,12.740210,12.716974,12.727055,12.669144,12.643951,12.673669,12.727893
Korea,11.230628,11.246531,11.252224,11.260156,11.267182,11.250812,11.237872,11.237841,11.237002,11.236078,...,11.801463,11.794925,11.768751,11.766140,11.743860,11.734069,11.677878,11.651560,11.696284,11.748022
New Zealand,8.877414,8.901842,8.912964,8.917286,8.928395,8.918996,8.943557,8.947243,8.956961,8.965357,...,9.692088,9.691698,9.613524,9.588085,9.569759,9.607423,9.586949,9.540119,9.569116,9.558822
South Africa,10.961035,10.935238,10.892314,10.825063,10.791788,10.802614,10.797442,10.772169,10.780235,10.765758,...,10.227668,10.226563,10.081650,10.002639,9.944076,10.051791,10.089697,10.060855,9.992337,9.805363
Spain,11.303651,11.306699,11.296315,11.286094,11.275903,11.278394,11.293334,11.294821,11.296636,11.286393,...,11.573612,11.572477,11.543746,11.543847,11.512875,11.504152,11.486214,11.478317,11.519875,11.562848
United Kingdom,12.093980,12.094684,12.095387,12.080829,12.081732,12.098459,12.116335,12.104192,12.123848,12.144324,...,12.409657,12.397697,12.357548,12.342366,12.316644,12.317320,12.260387,12.250377,12.296933,12.332989
United States,13.706328,13.712270,13.718177,13.724034,13.729459,13.733717,13.736119,13.737249,13.738948,13.742997,...,14.321141,14.320865,14.321455,14.322987,14.325514,14.328703,14.331839,14.334222,14.335684,14.336581

In [8]:
# Get all countries in a list
country_list = df_variable['GDP'].index.values

# Define an empty dataframe
df = {}

# Loop over all countries and put their variable data in dataframe df
for country in country_list:
    country_collection = []
    
    for variable in variable_list:
        country_collection.append(df_variable[variable].loc[country])
    
    df[country] = pd.DataFrame(country_collection,index=variable_list)

In [27]:
# Example of the data of the United States
df['United States']

,1996-01-01,1996-02-01,1996-03-01,1996-04-01,1996-05-01,1996-06-01,1996-07-01,1996-08-01,1996-09-01,1996-10-01,...,2022-03-01,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01
GDP,13.706328,13.712270,13.718177,13.724034,13.729459,13.733717,13.736119,13.737249,13.738948,13.742997,...,14.321141,14.320865,14.321455,14.322987,14.325514,14.328703,14.331839,14.334222,14.335684,14.336581
CPI,4.260000,4.263243,4.268298,4.272212,4.274163,4.274720,4.276666,4.278609,4.281792,4.284965,...,4.881665,4.887262,4.898213,4.911846,4.911699,4.911330,4.913537,4.917569,4.916544,4.913463
long_int,0.032252,0.032976,0.035027,0.036630,0.038245,0.036630,0.035787,0.036717,0.035852,0.036674,...,0.024055,0.024077,0.024554,0.025955,0.027034,0.025910,0.026652,0.027505,0.026720,0.026944
short_int,0.013124,0.012554,0.012887,0.013053,0.013053,0.013290,0.013456,0.013148,0.013409,0.013172,...,0.001818,0.002265,0.003303,0.004632,0.006173,0.006806,0.007899,0.009444,0.010909,0.011028
exch_rate,-1.449269,-1.450030,-1.451215,-1.452132,-1.452588,-1.452719,-1.453174,-1.453628,-1.454372,-1.455112,...,-1.585486,-1.586632,-1.588870,-1.591650,-1.591620,-1.591545,-1.591994,-1.592814,-1.592606,-1.591979

# Trade matrix

In [29]:
# Import all trading data
df_trade_raw = pd.read_excel(path + "Trade_statistics.xlsx",index_col=[0,1])

# Get a list of all years (data from 1994 until 2022)
year_list = df_trade_raw.columns

# Define an empty dataframe
df_trade_year = {} 

# Loop over all years and put the trade weights data of that year in dataframe df_trade_year
for year in year_list:
    country_collection = []
    
    for country in country_list:
        country_collection.append(df_trade_raw.loc[country, year] / np.sum(df_trade_raw.loc[country, year]))
    
    df_trade_year[year] = pd.DataFrame(country_collection,index=country_list)

In [30]:
# Example of the trade weights on the year 2000
df_trade_year[2000]

,Australia,Brazil,Canada,France,Germany,Italy,Japan,Korea,New Zealand,South Africa,Spain,United Kingdom,United States
Australia,0.000000,0.009499,0.024256,0.015715,0.022248,0.031067,0.368421,0.139010,0.109102,0.021377,0.012284,0.063816,0.183204
Brazil,0.012822,0.000000,0.021274,0.065131,0.095000,0.080711,0.092992,0.021844,0.001296,0.011364,0.037926,0.056359,0.503281
Canada,0.003000,0.002689,0.000000,0.004871,0.007887,0.004335,0.022968,0.005707,0.000482,0.000620,0.001581,0.014831,0.931028
France,0.006890,0.014365,0.014387,0.000000,0.277243,0.155041,0.027482,0.013763,0.001199,0.006146,0.160982,0.169509,0.152993
Germany,0.011850,0.017602,0.015107,0.236602,0.000000,0.158056,0.046231,0.015814,0.001668,0.013074,0.093985,0.173398,0.216612
Italy,0.013134,0.016574,0.015812,0.224279,0.267343,0.000000,0.029327,0.012335,0.001646,0.006712,0.111315,0.121739,0.179782
Japan,0.034618,0.010164,0.030154,0.030228,0.080685,0.023379,0.000000,0.123875,0.005102,0.007577,0.013335,0.059860,0.581023
Korea,0.031966,0.021146,0.029763,0.021458,0.063209,0.023418,0.251006,0.000000,0.003509,0.006069,0.018803,0.065981,0.463673
New Zealand,0.302224,0.003885,0.022302,0.022475,0.034591,0.025347,0.205571,0.065756,0.000000,0.005530,0.008444,0.082456,0.221417
South Africa,0.042235,0.017777,0.019369,0.047268,0.167820,0.074288,0.119648,0.052628,0.002717,0.000000,0.043997,0.199527,0.212726
Spain,0.005563,0.017663,0.008190,0.341686,0.217055,0.153637,0.017153,0.003879,0.000669,0.004404,0.000000,0.144571,0.085531
United Kingdom,0.026308,0.007644,0.035034,0.181090,0.223639,0.083250,0.036791,0.015187,0.003025,0.013928,0.081215,0.000000,0.292888
United States,0.030274,0.037272,0.428666,0.050075,0.071724,0.026822,0.158434,0.067111,0.004870,0.007609,0.015604,0.101537,0.000000

In [31]:
# Define the normal trade weight (which is an average of the last three years)
df_trade = (df_trade_year[2020] + df_trade_year[2021] + df_trade_year[2022])/3

# VARX model

In [61]:
# Define a dataframe (dictionary) for the parameter estimates and the R_squared
df_estimates = {}
df_Rsquared = pd.DataFrame(index=variable_list)

# Loop over all countries
for country in country_list:

    # Define matrix x_it
    x_it = df[country].T
    x_it.columns = x_it.columns + "_x_it"
    
    # Define matrix x_star
    x_star = sum(df[foreign_country].T * df_trade.loc[country][foreign_country] for foreign_country in country_list)
    x_star.columns = x_star.columns + "_x_star"

    # Combine x_it and x_star and define the period frequency
    df_country = pd.concat([x_it,x_star], axis=1)
    df_country.index.freq = 'MS'

    # Create a VAR model object
    model = VAR(df_country)

    # Fit the VAR model with a constant and trend
    results = model.fit(maxlags=2,trend='ct')

    # Fill the parameter estimates of the VARX model in the dictionary
    df_estimates[country] = results.params[x_it.columns.tolist()].T

    # Calculate all R^2's of all variables
    for variable in variable_list:
        df_Rsquared.loc[variable,country] = skm.r2_score(results.fittedvalues[variable+"_x_it"]+results.resid[variable+"_x_it"],results.fittedvalues[variable+"_x_it"])

In [59]:
# Example of the VARX estimates of Australia
df_estimates['Australia']

,const,trend,L1.GDP_x_it,L1.CPI_x_it,L1.long_int_x_it,L1.short_int_x_it,L1.exch_rate_x_it,L1.GDP_x_star,L1.CPI_x_star,L1.long_int_x_star,...,L2.GDP_x_it,L2.CPI_x_it,L2.long_int_x_it,L2.short_int_x_it,L2.exch_rate_x_it,L2.GDP_x_star,L2.CPI_x_star,L2.long_int_x_star,L2.short_int_x_star,L2.exch_rate_x_star
GDP_x_it,4.372544,0.000091,1.536059,-0.228991,-3.477579,3.715547,0.331016,-0.052004,0.961322,4.570872,...,-0.561139,0.555531,3.981615,-3.544496,-0.295973,-0.189798,-1.374646,-6.881426,-1.435575,0.029816
CPI_x_it,0.306953,0.000079,0.017119,1.762273,-0.116116,-0.448007,0.003950,-0.004303,0.003444,-0.068645,...,0.009398,-0.790652,0.393619,0.541691,0.021064,-0.020435,-0.028927,-0.035735,0.111439,-0.035194
long_int_x_it,0.031002,-0.000005,0.007915,0.046563,1.149606,0.046682,0.006394,-0.004445,0.005400,0.057197,...,-0.005055,-0.043710,-0.164209,-0.078270,-0.003324,0.001141,-0.010376,-0.111734,0.048092,0.002826
short_int_x_it,-0.013680,0.000003,0.001367,0.028977,0.074894,1.314462,-0.002097,-0.001100,-0.003464,0.045658,...,0.000610,-0.033677,0.032130,-0.384762,0.003569,0.001131,0.005963,-0.087028,0.084669,0.000303
exch_rate_x_it,-2.483427,0.000054,-0.129701,0.239948,2.805324,-0.985726,1.092004,0.058216,-0.256897,-5.231405,...,-0.134086,-0.623533,-2.832796,1.012278,-0.421161,0.154557,1.052540,4.697887,2.946831,-0.014457

In [60]:
# Example of the VARX estimates of New Zealand
df_estimates['New Zealand']

,const,trend,L1.GDP_x_it,L1.CPI_x_it,L1.long_int_x_it,L1.short_int_x_it,L1.exch_rate_x_it,L1.GDP_x_star,L1.CPI_x_star,L1.long_int_x_star,...,L2.GDP_x_it,L2.CPI_x_it,L2.long_int_x_it,L2.short_int_x_it,L2.exch_rate_x_it,L2.GDP_x_star,L2.CPI_x_star,L2.long_int_x_star,L2.short_int_x_star,L2.exch_rate_x_star
GDP_x_it,4.053609,0.000852,1.395422,0.638097,-8.590422,4.653811,0.451731,0.119579,-0.536178,2.472295,...,-0.522209,-0.387727,9.421066,-2.861346,-0.486449,-0.251655,-0.018278,-6.317303,-11.890227,0.360280
CPI_x_it,0.064347,-0.000024,-0.004396,1.675514,0.159330,0.516137,0.009309,-0.001199,0.101993,0.398833,...,0.025254,-0.684840,-0.124635,-0.519639,0.013252,-0.020970,-0.082886,-0.446655,1.016794,-0.002724
long_int_x_it,-0.026616,-0.000026,0.002201,0.017710,1.088247,0.077197,0.005978,-0.001045,0.027956,0.050135,...,0.000013,-0.010037,-0.173382,-0.127239,-0.003190,-0.002482,-0.022914,-0.088125,0.093684,0.003024
short_int_x_it,-0.029638,-0.000014,0.002257,0.018805,0.090855,1.462694,0.000280,-0.000814,0.027229,-0.002591,...,0.000387,-0.023756,-0.060512,-0.534157,0.000693,-0.000305,-0.017263,-0.020648,-0.133109,0.002570
exch_rate_x_it,-0.151450,0.000143,0.108163,0.258877,8.962437,-4.319778,1.030629,-0.177860,0.853276,-5.413926,...,-0.309789,-0.902195,-10.416927,3.735968,-0.310839,0.263896,-0.081230,8.031970,6.685709,-0.342382

In [62]:
# The matrix of R^2 values
df_Rsquared

,Australia,Brazil,Canada,France,Germany,Italy,Japan,Korea,New Zealand,South Africa,Spain,United Kingdom,United States
GDP,0.993941,0.989545,0.993910,0.981733,0.982959,0.973471,0.974272,0.991868,0.994020,0.978688,0.987968,0.966400,0.996042
CPI,0.999956,0.999962,0.999526,0.999413,0.999111,0.999683,0.983284,0.999726,0.999950,0.999926,0.999340,0.999726,0.999760
long_int,0.989253,0.990586,0.993533,0.994451,0.985440,0.982804,0.988279,0.989552,0.990279,0.991990,0.984524,0.964594,0.982778
short_int,0.995428,0.958452,0.993557,0.997028,0.997086,0.997590,0.989841,0.990865,0.995669,0.988705,0.997413,0.996617,0.993098
exch_rate,0.984562,0.990534,0.988408,0.978007,0.977182,0.978744,0.971239,0.952160,0.985135,0.986847,0.979367,0.970208,0.999764